.client-slider-container {
  padding: 80px;
  flex: 1; /* or width: 100%; */
  max-width: 100%;
  overflow: hidden;
  display: flex;
  margin-top: 50px;
  width: 100%;
  overflow: hidden;
}
.client-slider {
  flex: 1; /* or width: 100%; */
  max-width: 100%;
  overflow: hidden;
}

.client-text-head {
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 300;
  text-transform: uppercase;
  color: black;
}
.client-text-content {
  font-size: 16px;
  color: #787878;
  font-weight: 400;
  margin-top: 15px;
  width: 300px;
}
.fancy-button {
  position: relative;
  padding: 10px 22px;
  border-radius: 30px;
  border: none;
  color: #fff;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 15px;
  cursor: pointer;
  background-color: #000000;
  transition: all 0.2s ease;
}

.fancy-button:active {
  transform: scale(0.96);
}

.fancy-button:before,
.fancy-button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.slick-slider {
  overflow: hidden;
}
.slick-slide > div {
  margin: 0 15px;
}
.fancy-button:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #000000 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #000 20%, transparent 30%),
    radial-gradient(circle, #000 20%, transparent 20%),
    radial-gradient(circle, #000 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #000 15%, transparent 20%),
    radial-gradient(circle, #000 20%, transparent 20%),
    radial-gradient(circle, #000 20%, transparent 20%),
    radial-gradient(circle, #000 20%, transparent 20%),
    radial-gradient(circle, #000 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.fancy-button:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #000 20%, transparent 20%),
    radial-gradient(circle, #000 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #000 15%, transparent 20%),
    radial-gradient(circle, #000 20%, transparent 20%),
    radial-gradient(circle, #000 20%, transparent 20%),
    radial-gradient(circle, #000 20%, transparent 20%),
    radial-gradient(circle, #000 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
.client-container-item {
  width: 350px !important;
  height: auto;
  border-radius: 10px;
  padding: 20px;
}
.client-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
  }
}
.client-name {
  font-size: 14px;
  font-weight: 600;
}
.client-business {
  color: #787878;
  font-size: 14px;
}
.working-section-overlay {
  background-color: #ffffff82;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.working-section {
  background: url("https://images.unsplash.com/photo-1604147706283-d7119b5b822c?q=100&w=1920&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  display: flex;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.working-sub-head {
  font-size: 13px;
  font-weight: 200;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.working-head {
  font-size: 40px;
  letter-spacing: 5px;
  margin-top: 20px;
  text-align: center;
}
@media screen and (max-width: 590px) {
  .working-head {
    padding: 10px;
    font-size: 30px !important;
  }
  .client-text-head {
    font-size: 25px;
  }
}
@media screen and (max-width: 768px) {
  .client-slider-container {
    padding: 30px;
  }
}
@media screen and (max-width: 490px) {
  .working-head {
    padding: 10px;
    font-size: 20px !important;
  }
}
@media screen and (max-width: 1200px) {
  .client-slider {
    margin-top: 30px !important;
  }
  .client-text {
    margin: 0 15px;
  }
  .client-slider-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 450px) {
  .client-slider-container {
    padding: 10px;
  }

  .client-text {
    margin: 0 15px;
  }
  .client-container-item {
    width: 100% !important;
    height: auto;
    border-radius: 10px;
    padding: 20px;
  }
}
