.Banner {
  background: url("https://images.unsplash.com/photo-1642355008521-236f1d29d0a8?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.banner-text-container {
  background-color: rgba(0, 0, 0, 0.151);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.Written-Text {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 8px;
  margin-top: 20px;
}
.banner-text-1 {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 3px;
}
.blinking-cursor {
  font-weight: light;
  animation: blink 1s infinite;
}
.company-name {
  margin-top: 20px;
  color: #7e7e7e;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.short-content-container {
  padding: 40px 70px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.short-content-item {
  width: 30%;
  flex-direction: column;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.short-content-head {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 500;
}
.short-content-content {
  color: #787878;
  font-size: 16px;
}
@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}
@media screen and (max-width: 1150px) {
  .Written-Text {
    font-size: 40px;
  }
}
@media screen and (max-width: 890px) {
  .banner-text-1 {
    font-size: 18px;
  }
  .Written-Text {
    font-size: 30px;
  }
  .short-content-container {
    flex-direction: column;
    gap: 40px;
  }
  .short-content-item {
    width: 100%;
  }
}
@media screen and (max-width: 680px) {
  .banner-text-1 {
    font-size: 15px;
  }
  .Written-Text {
    font-size: 25px;
  }
  .company-name {
    font-size: 12px;
  }
}
@media screen and (max-width: 580px) {
  .Banner {
    height: 90vh;
  }
  .banner-text-container {
    height: 90vh;
  }
  .banner-text-1 {
    font-size: 12px;
  }
  .Written-Text {
    font-size: 18px;
  }
  .company-name {
    font-size: 11px;
  }
  .short-content-container {
    padding: 40px 30px;
  }
  .short-content-head {
    font-size: 18px;
  }
  .short-content-content {
    font-size: 14px;
  }
}
