.blog-container {
  margin-top: 90px;
  padding: 0 50px;
}
.blog-sub-head {
  font-size: 14px;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
}
.blog-head {
  text-align: center;
  letter-spacing: 6px;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 35px;
}
.blog-text {
  color: #787878;
}
.blog-container-item {
  margin-top: 40px;
  width: 350px;
  opacity: 0.7;
  transition: 350ms;
}
.slick-slide > div {
  margin: 0 15px;
}
.blog-container-item:hover {
  opacity: 1;
}
.blog-image img {
  width: 100%;
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
  object-position: top, center;
}
.blog-title {
  font-weight: 400;
  margin-top: 10px;
}
.Read-more {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 11px;
}
.slick-slider {
  overflow: hidden;
}
.blog-overlay {
  background-color: rgba(0, 0, 0, 0.34);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-large-container {
  height: 500px;
  width: 400px;
  background-color: white;
  border-radius: 10px;
  overflow: scroll;
  padding: 20px;
  position: relative;

  img {
    width: 100%;
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
  }
  .blog-large-title {
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
  }
  .blog-large-Date {
    color: #787878;
    font-size: 13px;
    margin-top: 5px;
  }
  .blog-large-Author {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    margin-top: 5px;
  }
  .blog-large-content {
    font-size: 13px;
    margin-top: 10px;
  }
}
.cancel-btn {
  position: absolute;
  /* top: 10px; */
  right: 10px;
  font-size: 18px !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  border-radius: 100%;
  background-color: white;
  z-index: 100000000 !important;
  height: 30px;
}
::-webkit-scrollbar {
  width: 5px;
  height: 0;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@media screen and (max-width: 768px) {
  .blog-container {
    padding: 10px;
  }
}
@media screen and (max-width: 568px) {
  .blog-sub-head {
    font-size: 12px;
  }
  .blog-head {
    letter-spacing: 4px;
    font-size: 25px;
  }
  .blog-container-item {
    margin-top: 20px;
  }
  .blog-overlay {
    padding: 20px;
  }
  .blog-large-container {
    width: 100%;
    height: 550px;
  }
}
