.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 40px;
  background-color: transparent;
  color: rgb(21, 21, 21);
  transition: background-color 0.4s ease, box-shadow 0.4s ease;
  z-index: 999;
}

.navbar.scrolled2 {
  background-color: black;
  color: white !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  .Nav-Logo2 {
    color: white;
  }
  .Nav-Links2 {
    color: rgb(206, 206, 206) !important;
  }
  .Nav-Links2:hover {
    color: white !important;
  }
  .Nav-Buttons2 {
    color: white !important;
  }
  .Nav-Buttons2 button {
    border: 1px solid white !important;
    color: white !important;
  }
  button:hover {
    border: 1px solid #d3d3d300 !important;
    background-color: #d3d3d36c;
  }
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.Nav-Logo2 {
  flex: 1;
  display: flex;
  align-items: center;
  color: #000000;
  gap: 5px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.Nav-items {
  flex: 1;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
  li {
    list-style-type: none;
    text-transform: uppercase;
    .Nav-Links2 {
      font-size: 11.5px;
      letter-spacing: 1px;
      font-weight: 500;
      text-decoration: none;
      color: rgb(72, 72, 72);
      transition: 350ms;
    }
    .Nav-Links2:hover {
      color: rgb(5, 5, 5) !important;
    }
  }
}
.Nav-Buttons2 {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
  color: rgb(13, 13, 13) !important;
  button {
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    background-color: transparent;
    border: 1px solid #000000;
    color: rgb(0, 0, 0);
    font-size: 10px;
    font-weight: 400;
    padding: 10px 15px;

    border-radius: 20px;
    text-transform: uppercase;
    transition: 250ms;
  }
  button:hover {
    border: 1px solid #d3d3d300 !important;
    background-color: #3c3c3c6c;
  }
}
.Contact-side-Bar-container {
  position: fixed;
  background-color: #111111;
  top: 0;
  right: 0;
  z-index: 1000000;
  bottom: 0;
  transition: 350ms;
  width: 0;
  overflow: hidden !important;
}
.Contact-side-Bar-container.opened {
  width: 380px;
}
.contact-item-bar {
  padding: 20px;
  .cancel-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 30px !important;
    cursor: pointer;
  }
}
.contact-nav-icon {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: white;
}
.contact-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 60px;
}
.contact-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}
.contact-nav-Text {
  color: white;
  font-size: 16px;
  margin-top: 10px;
  font-weight: 300;
  text-align: center;
}
@media screen and (max-width: 840px) {
  .navbar {
    display: none;
  }
}
